@import url('https://fonts.googleapis.com/css2?family=Anek+Devanagari:wght@100..800&family=Platypi:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar-hidden {
    scrollbar-width: none; 
    -ms-overflow-style: none; 
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none; 
}

input{
    @apply md:w-[400px] w-[300px] py-2 px-6 mb-2
}



.fontstyle1{
    @apply font-custom1 font-extrabold text-5xl;
    }
    .fontstyle2{
      @apply  font-bold text-4xl;
    }
    .fontstyle3{
      @apply  font-medium text-2xl;
    }
    
    .fontstyle31{
      @apply  font-medium text-[22px];
    }
    
    .fontstyle4{
      @apply font-custom1 font-medium text-[18px];
    }
    .fontstyle7{
      @apply  font-bold text-[26px];
    }
    .backg3{
      @apply bg-gradient-to-r from-blue-700 via-pink-700 to-red-600;
    }
    
    .backg1{
      @apply bg-gradient-to-r from-blue-400 via-pink-500 to-red-500;
    }
    .backg2{
      @apply bg-gradient-to-r from-blue-600 via-purple-500 to-blue-600;
    }
    .backg4{
      @apply bg-gradient-to-r from-blue-300 via-pink-400 to-red-500;
    }
  
    .lain{
      @apply rounded border border-solid border-slate-100 shadow-lg block;
    }

    .section{
        @apply container mx-auto py-24 px-6;
      }
      .section1{
        @apply container mx-auto py-10 px-6;
      }


      .desktop-nav .dropdown {
        
        display: none;
       }

 .arrow:after{
  content:"";
  display:inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top:0.42em solid;
  border-right:0.32em solid transparent ;
  border-left:0.32em solid transparent
 }
 .arrow:hover:after {
  transform: rotate(-90deg); /* Rotate the arrow on hover */
}


 

 .dropdown.show{
  display: block;
 }

 .dropdown.dropdown-submenu{
  position: absolute;
  width: 200px;
  left: 100%;
  top: 0;
  padding: 10px;
 }


 .ripple {
  position: absolute;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.6);
  transform: scale(0);
  animation: ripple-animation 0.6s linear;
}
@keyframes ripple-animation {
  to {
      transform: scale(4);
      opacity: 0;
  }
}